* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    opacity: 0;
}

.loading-line {
    position: absolute;
    width: 65%;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #25a7fb;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
}

.loading-line .line {
    width: 0;
    height: 100%;
    background-color: #25a7fb;
    transition: all .5s ease;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 150;
    width: 160px;
    height: 160px;
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    pointer-events: none !important;
    display: none;
}

.arrow-down p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: ani-arrow 1.5s infinite ease-in-out;
    -moz-animation: ani-arrow 1.5s infinite ease-in-out;
    animation: ani-arrow 1.5s infinite ease-in-out;
    margin: -14px 0 0 -48px;
    width: 96px;
    height: 88px;
    background: url(../img/icon_arrow2.png) center bottom;
    background-repeat: repeat-y;
}

@keyframes ani-arrow {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px)
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;

}

.swiper-slide video,
.swiper-slide img {
    width: 100%;
}

#page1 {
    background: url("../img/page1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#zhengzhou{
    background-image: url("../img/zhengzhouall.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.zz1,
.zz2,
.zz3{
    position: absolute;
    top: 0;
    width: 100%;
}
.zz1 {
    transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
    animation: img1 15s ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    opacity:0;
    z-index:1;
}

.zz2 {
    transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
    animation: img2 15s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity:0;
    z-index: 2;
}
.zz3 {
    transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
    animation: img3 15s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity:0;
    z-index: 3;
}

@keyframes img1 {
    0% {
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 0;
    }
    5% {
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 1;
    }
    33%{
        transform: perspective(1500px) translate3d(0px, 300px, -100px);
        opacity: 1;
    }
    43%{
        transform: perspective(1500px) translate3d(0px, 300px, 0px);
        opacity: 0;
    }
    100% {
        transform: perspective(1500px) translate3d(0px, 300px, 0px);
        opacity: 0;
    }

}


@keyframes img2 {
    0% {
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 0;
    }
    33%{
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 0;
    }
    34%{
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 1;
    }
    66% {
        transform: perspective(1500px) translate3d(0px, 300px, -100px);
        opacity: 1;
    }
    75%{
        transform: perspective(1500px) translate3d(0px, 300px, -100px);
        opacity: 0;
    }
    100% {
        transform: perspective(1500px) translate3d(0px, 300px, 0px);
        opacity: 0;
    }

}
@keyframes img3 {
    0% {
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 0;
    }
    66%{
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 0;
    }
    67% {
        transform: perspective(1500px) translate3d(-150px, 300px, -1500px);
        opacity: 1;
    }
    95%{
        transform: perspective(1500px) translate3d(0px, 300px, 0px);
        opacity: 1;
    }
    100% {
        transform: perspective(1500px) translate3d(0px, 300px, 0px);
        opacity: 0;
    }

}




